.bannerImageContainer {
    height: min(30dvh, 260px);
    /* height: 260px; */
    width: 100%;
    position: relative;
}

.bannerImage {
    object-fit: cover;
    object-position: center;
}

.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.imageCard {
    text-align: center;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    right: 0%;
    width: max(100%, 200px);
}

.imageCard .text-primary {
    transform: translateY(-0.5rem);
}

@media (min-width: 768px) {
    .bannerImageContainer {
        height: min(55dvh, 440px);
        width: 100%;
    }

    .imageCard {
        right: 10%;
        width: max(60%, 380px);
    }
}